version: '3'
services:
  pktfwd:
    image: ghcr.io/heliumdiy/sx1302_hal:sha-87d8931
    entrypoint: ["/opt/packet_forwarder/entrypoint.sh"]
    working_dir: /opt/packet_forwarder
    environment:
      VENDOR: bobcat
      REGION: US915
    privileged: true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      - miner
    volumes:
      - ./packet_forwarder/configs:/opt/packet_forwarder/configs
      - ./packet_forwarder/tools:/opt/packet_forwarder/tools
    restart: always
  miner:
    image: quay.io/team-helium/miner:gateway-latest
    command: ["helium_gateway", "server"]
    environment:
      - RUST_BACKTRACE=1
      - GW_LISTEN=0.0.0.0:1680
      - GW_KEYPAIR=ecc://i2c-5:96?slot=0
      - GW_ONBOARDING=ecc://i2c-5:96?slot=15
    privileged: true
    devices:
      - /dev/i2c-5:/dev/i2c-5
    security_opt:
      - label=disable
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped
